<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <link rel="stylesheet" href="static/scorestyle.css">
</head>
<body >
  <div class="bg-image"></div>

<div class="bg-text">
<h1 style="text-align:center; margin-top:36px;">Your Scores Are:</h1>
<div class="login">
  <img src="https://img.icons8.com/bubbles/200/000000/trophy.png" style="  display: block;
  margin-left: auto;
  margin-right: auto;">

                 <h4 style="text-align:center;">CONGRATULATIONS!</h4>
<h1 style="text-align:center;" >{{result}}</h1>
<div class="fl">
<a href="{{url_for('home')}}" ><button class="btn" >Back To Home</button></a>
</div>
</div>
</div>
</body>
</html>